<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pzy.codegenerator.connect.mapper.CommonMapper">

    <select id="getAllTable" resultType="map">
        SELECT TABLE_NAME, TABLE_COMMENT FROM `information_schema`.`tables` WHERE TABLE_SCHEMA = #{dataBase} ORDER BY TABLE_NAME;
    </select>

    <select id="getTableColumnInfo" resultType="map">
        select
            COLUMN_NAME,
            COLUMN_COMMENT,
            DATA_TYPE,
            CHARACTER_MAXIMUM_LENGTH,
            IS_NULLABLE,
            COLUMN_DEFAULT,
            COLUMN_KEY
        FROM
            INFORMATION_SCHEMA.COLUMNS
        WHERE
            TABLE_SCHEMA = #{dataBase}
            and
            TABLE_NAME = #{tableName};
    </select>

    <select id="getTableCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT count(TABLE_NAME)
        FROM information_schema.TABLES
        WHERE TABLE_SCHEMA = #{dataBase};
    </select>
</mapper>


